:root {
  --bg-body: #fffefe;
  --bg-section: #f3f4f6;
  --title: #000000;
  --paragraph: #394150;
  --text: #263fa9;
  --image1: #c1b6f8;
  --image2: #edacd2;
  --image3: #9dc4f8;
  --image4: #f8d8b0;
  --image5: #86e7d4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-body);
  font-family: "Outfit", sans-serif;
}

/* footer */
.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
